.location-btn {
  font-family: var(--body-font-family);
  font-size: 12px;
  font-weight: var(--fw-400);
  line-height: normal;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  position: relative;
  z-index: 999;
  top: -32px;
  transform: translateX(-50%);
  left: 50%;
  background-color: transparent;
  color: var(--secondary-gray-800);
  padding: 0;
  padding-top: 2px;
  gap: 6px;
}

.location-btn::after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('../../icons/grey-arrow-down.svg');
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 1px;
}

.geo-location {
  display: none;
  z-index: 999;
  position: absolute;
  background-color: var(--tertiary-white);
  left: 0;
  right: 0;
  bottom: 0;

  p {
    margin: unset;
  }
}

.detect-location__text {
  display: flex;
  align-items: center;
  gap: 14px;
  cursor: pointer;
  font-weight: 700;
}

.detect-location__text::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('../../icons/detect_location.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.search-location {
  padding: 24px;
  height: 300px;
  position: relative;
  @media (width >= 768px) {
    padding: 24px;
    height: auto;
  }

  @media (width >= 1024px) {
    padding-top: 16px;
  }
}

.location-wrapper {
  height: calc(100% - 465px);
  z-index: 1;
  width: 100%;
  @media (width >= 1024px) {
    width: 150px;
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
  }
}

.location-wrapper .search-location .search-box {
  position: relative;
  display: flex;
  align-items: center;
}

.location-wrapper .search-icon {
  width: 24px;
  height: 24px;
  background: url(../../icons/blue-location.svg) no-repeat center / contain;
  position: absolute;
  pointer-events: none;
  margin-left: 12px;
}

.location-wrapper .suggested-places {
  width: calc(100% - 4px);
  max-height: 200px;
  overflow-y: auto;
  background: var(--tertiary-white);
  padding: 12px;
  margin-top: 4px;
  @media (width >= 1024px) {
    padding: 12px;
  }
}

.location-wrapper .suggested-places .suggested__city {
  padding: 16px 12px;
  color: var(--tertiary-black);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: var(--fw-400);
  line-height: 1.125rem;
  cursor: pointer;
  height: 52px;
  display: flex;
  flex-flow: row;
  gap: 14.4px;
  justify-content: space-between;
  align-items: center;
  max-width: 274px;
}

.location-wrapper .suggested-places .suggested__city:hover {
  background-color: var(--secondary-gray-100);
  color: var(--fill-inside);
  font-weight: var(--fw-600);
  font-size: 0.875rem;
}

.location-wrapper .suggested-places .suggested__city.selected {
  color: var(--secondary-gray-800);
  &::after {
    content: '';
    background: url('/icons/check-black.svg');
    width: 20px;
    height: 20px;
    display: block;
  }
}

.location-wrapper .suggested-places::-webkit-scrollbar {
  width: 4px;
}

.location-wrapper .suggested-places::-webkit-scrollbar-track {
  border: 4px solid var(--secondary-gray-20); 
}

.location-wrapper .suggested-places::-webkit-scrollbar-thumb {
  border-radius: 4px;
  height: 27px;
  background: var(--primary-blue-700);
}

.location-wrapper .suggested-places::-webkit-scrollbar-thumb:hover {
  background: var(--primary-blue-700);
}

.location-wrapper .search-box input {
  width: 100%;
  height: 46px;
  padding: 12px 12px 12px 52px;
  border: 0.6px solid var(--grey-shade-7);
  color: var(--neutrals-heading);
  font-family: var(--body-font-arena);
  font-size: 1rem;
  font-style: normal;
  font-weight: var(--fw-300);
  line-height: 1.25rem;
  outline: none;
  box-shadow: none;

  @media (width >= 1024px) {
    height: 48px;
    border: 0.5px solid var(--grey-shade-7);
    padding-right: 12px;
    padding-left: 42px;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

.location-wrapper .search-box input[type='text']::placeholder {
  opacity: 1;
  color: var(--tertiary-black);
}

.navbar-arena .geo-location {
  width: 100%;
  box-shadow: 0 0 4px 0 rgb(154 154 154 / 25%);

  @media (width >= 1024px) {
    width: 296px;
    box-shadow: 0 0 4px 0 rgb(154 154 154 / 25%);
    inset: calc(var(--nav-height)) 10% auto auto;
    z-index: 20;
    display: block;
    right: 0px;
    top: 47px;
  }
  @media (width >=1200px) {
    top: calc(var(--nav-height));
    right: 106px;
  }
  @media (width >=1366px) {
    right: 128px;
  }
}

.navbar-arena .detect-location {
  padding: 32px 22px 32px 22px;
}

.navbar-arena .detect-location__text,
.location-wrapper .icon-container .inner-detect-location__box .detect-location__text {
  color: var(--secondary-gray-800);
  font-family: var(--body-font-arena);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: var(--fw-500);
  line-height: 1.125rem;
  padding: 10.4px 14.4px 11.6px 14.4px;
  border: 0.6px solid #b3b3b3;
  height: 46px;

  @media (width >=1024px) {
    padding: 12px;
    border: 0.5px solid #b3b3b3;
    height: 48px;
    font-size: 0.75rem;
  }
}

.location-wrapper .icon-container .inner-detect-location__box .detect-location__text {
  font-size: 1rem;
  font-weight: var(--fw-300);
  line-height: 1rem;
  color: var(--tertiary-white);
  padding: 12px;
}

.location-wrapper .icon-container .inner-detect-location__box .detect-location__text::before {
  background-image: url('../../icons/detect_location_white.svg');
}

.location-wrapper .icon-container {
  min-height: 165px;
  height: auto;
  background-color: var(--primary-blue-700);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
}

.location-wrapper .icon-container span {
  background-image: url('../../icons/location_white.svg');
  height: 36px;
  width: 36px;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  align-self: center;
}

.location-wrapper .top__city__icon {
  width: 64px;
  height: 64px;
  overflow: hidden;
  cursor: pointer;
  background-color: white;

  @media (width >= 768px) {
    width: 55px;
    height: 55px;
    position: relative;
  }

  @media (width >= 1024px) {
    width: 56px;
    height: 56px;
  }
}

.location-wrapper .top__city__icon img {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  opacity: 0.8;
}

.location-wrapper .top__city__icon::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 1.35%, rgba(1, 4, 75, 0.9) 84.97%);
  z-index: 2;
}

.location-wrapper .top__cities {
  display: flex;
  gap: 14px;
  padding-top: 16px;
  justify-content: space-between;

  @media (width >= 1024px) {
    gap: 8px;
  }
}

.location-wrapper .top__city {
  position: relative;
}

.location-wrapper .selected__top__city {
  font-family: var(--body-font-family);
  display: flex;
  width: 100%;
  justify-content: center;
  color: var(--tertiary-white);
  text-align: center;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: var(--fw-600);
  line-height:1rem;
  position: absolute;
  bottom: 10%;
  cursor: pointer;
  z-index: 9;
  @media (width >=1024px) {
    line-height: 1.25rem;
  }
}

.location-wrapper .no-result {
  text-align: center;
  padding: 25px 0;
}

.location-wrapper .no-result p.no-result__text {
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: var(--fw-400);
  padding-bottom: 10px;
  color: var(--primary-red);
  font-family: var(--body-font-arena);
  @media (width >=1024px) {
    font-size: 0.75rem;
  }
}

.location-wrapper .no-result p.no-match__text {
  font-size: 0.75rem;
  line-height: 1;
  font-weight: var(--fw-400);
  color: var(--primary-red);
  font-family: var(--body-font-arena);
  @media (width >=1024px) {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

/* Active city tile styling */
.selected__top__city.active {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.location-wrapper .top__city__icon.active::after {
  border: 1px solid #fff;
  background: linear-gradient(180deg, rgba(16, 19, 85, 0.43) 1.35%, rgba(1, 4, 75, 0.9) 84.97%);
  stroke-width: 1px;
  stroke: #fff;
}

@media (width >=768px) {
  .navbar-arena .detect-location {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .location-wrapper .icon-container {
    min-height: auto;
    padding: 20px 22px;
  }

  .location-wrapper .suggested-places .suggested__city {
    padding: 12px;
    line-height: 1.25rem;
  }

  .location-btn {
    gap: 2px;
  }

  .location-btn span {
    display: inline-block;
    text-align: end;
    white-space: nowrap;
  }


  .location-wrapper .suggested-places {
    max-height: 200px;
  }

  .location-wrapper .no-result p.no-result__text {
    font-size: 0.875rem;
  }
}

@media (width >= 1024px) {
  .location-btn {
    top: 0px;
  }

  .location-wrapper .icon-container {
    padding: 24px 24px 16px;
  }

  .detect-location__text {
    gap: 12px;
  }
}

@media (width >= 1366px) {
  .location-btn {
    top: 0px;
    font-size: 14px;
    line-height: 20px;
  }
}


.location-wrapper .search-location:after {
  content: "";
  width: calc(100% - 48px);
  background: var(--tertiary-white);
  height: calc(100% - 90px);
  top: 70px;
  left: 24px;
  position: absolute;
  z-index: -1;
  overflow-y: auto;
  padding: 12px;
  filter: drop-shadow(0 8px 3px rgba(0, 0, 0, 0.07));
}