.buyers-guide-teaser {
  padding-top: 24px;
  padding-bottom: 24px;
}

.buyers-guide-teaser .teaser__card {
  position: relative;
  height: 160px;
  background: linear-gradient(180deg, #d47d55 0%, #cd6a32 100%);
}

.buyers-guide-teaser .teaser__card > picture img {
  position: absolute;
  inset: 0;
  object-fit: contain;
  object-position: -40px 22px;
  height: 100%;
  width: auto;
}

.buyers-guide-teaser .teaser__content {
  position: absolute;
  inset: 0;
  left: 40% !important;
  z-index: 1;
  display: flex;
  align-items: start;
  /* justify-content: center; */
  flex-direction: column;
  padding: 16px 16px 16px 0;
}

.buyers-guide-teaser .teaser__title *,
.buyers-guide-teaser .teaser__pretitle * {
  color: var(--tertiary-white);
  font-family: var(--body-font-arena);
  font-size: 1rem;
  font-style: normal;
  font-weight: var(--fw-700);
  line-height: 1.25rem;
  margin-bottom: 0;
  margin-top: 0;
}

.buyers-guide-teaser .teaser__description {
  margin: 8px 0 0;
}

.buyers-guide-teaser .teaser__description * {
  color: var(--tertiary-white);
  font-family: var(--body-font-arena);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: var(--fw-400);
  line-height: 1rem;
  letter-spacing: -0.18px;
  margin: 0;
  max-width: 153px;
}

.buyers-guide-teaser .teaser__actions {
  padding-top: 0.875rem;
  line-height: normal;
}

.buyers-guide-teaser .teaser__actions .button-primary-light {
  color: var(--tertiary-white);
  font-family: var(--body-font-arena);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: var(--fw-400);
  line-height: 1.125rem;
  text-decoration: none;
  text-decoration-line: none;
  padding: 0.5rem 1rem;
  background-color: var(--primary-blue-700);
  @media (width >=1024px) {
    font-size: 0.75rem;
  }
}

.buyers-guide-teaser .teaser__actions .button.button-primary-blue {
  font-weight: var(--fw-400);
  border: 0px;
}

@media (width >=768px) {
  .buyers-guide-teaser .teaser__description * {
    max-width: 100%;
  }

  .buyers-guide-teaser .teaser__actions .button-primary-light {
    font-size: 1.125rem;
    line-height: 1.5rem;
    padding: 0.75rem 1.5rem;
  }

  .buyers-guide-teaser .teaser__card > picture img {
    object-position: -19px 22px;
    height: 92%;
    top: 12px;
  }

  .buyers-guide-teaser .teaser__content {
    left: 22% !important;
    padding: 34px 16px 34px 0px;
  }

  .buyers-guide-teaser .teaser__actions .button.button-primary-blue {
    padding: 8px 16px;
    border: 0px;
  }
}

@media (width >= 1024px) {
  .buyers-guide-teaser .teaser__content {
    padding: 168px 0px 134px;
    left: 51% !important;
  }

  .buyers-guide-teaser .teaser__card {
    height: 480px;
  }

  .buyers-guide-teaser .teaser__title * {
    font-family: var(--body-font-family);
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .buyers-guide-teaser .teaser__description {
    margin: 12px 0 10px;
  }

  .buyers-guide-teaser .teaser__description * {
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.25rem;
  }

  .buyers-guide-teaser .teaser__actions .button.button-primary-blue {
    padding: 12px 24px;
  }

  .buyers-guide-teaser .teaser__card > picture img {
    object-position: -40px 22px;
    top: 37px;
  }
}

@media (width >=1200px) {
  .buyers-guide-teaser .teaser__title *,
  .buyers-guide-teaser .teaser__pretitle * {
    font-family: var(--body-font-family);
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .buyers-guide-teaser .teaser__content {
    left: 45% !important;
  }

  .buyers-guide-teaser .teaser__card > picture img {
    height: 100%;
    top: 0;
  }
}

@media (width >=1366px) {
  .buyers-guide-teaser .teaser__title *,
  .buyers-guide-teaser .teaser__pretitle * {
    font-size: 2rem;
    line-height: 2.5;
  }

  .buyers-guide-teaser {
    padding-top: 50px;
  }
}
