.section.slider-container {
  padding-top: 40px;
  padding-bottom: 20px;
  @media (width >=768px) {
    padding-top: 17px;
  }
}

.container__slider {
  position: relative;
  margin: auto;
  overflow: hidden;
}

.container__slider .teaser__content {
  display: flex;
  flex-direction: column-reverse;
  border-bottom: .0625rem solid var(--tertiary-black);
  padding-top: 16px;
  padding-bottom: 16px;
  @media (width >= 768px) {
    padding-bottom: 27px;
  }
}

.container__slider .slider-content {
  padding: 0;
  display: inline-block;
  overflow: hidden;
}

.container__slider .slider-title {
  font-family: var(--body-font-family);
  font-size: 1.5rem;
  font-weight: var(--fw-700);
  line-height: 1.75rem;
  text-align: left;
  color: var(--tertiary-black);
  font-feature-settings: "clig"off, "liga"off;
  margin: 0;
}

.container__slider .teaser-content {
  position: relative;
}

.container__slider .teaser__actions {
  margin-top: 0px;
  padding-top: 6px;
}

.container__slider .teaser__actions .button.primary__btn {
  width: inherit;
  height: inherit;
  background: none;
}

.container__slider .teaser__actions a {
  display: inline-block;
  color: var(--tertiary-black);
  font-family: var(--body-font-family);
  font-size: 1rem;
  font-style: normal;
  font-weight: var(--fw-500);
  line-height: 1.25rem;
  border-bottom: 1px solid var(--tertiary-black);
  position: relative;
  padding-right: 24px;
}

.container__slider .teaser__card .teaser__actions a::after {
  content: " ";
  position: absolute;
  left: 100%;
  margin-left: -16px;
  bottom: 8px;
  height: 16px;
  width: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none"><path d="M13.848 9.48609L8.13127 15.2028L7.42417 14.4957L13.1409 8.77898L7.77042 8.77898L7.77772 7.77819H14.8488V14.8493L13.848 14.8566L13.848 9.48609Z" fill="black"/></svg>');
  transition: all 0.3s linear;
}

.container__slider .teaser__card:hover .teaser__actions a::after {
  height: 32px;
  width: 32px;
  bottom: 8px;
  background-size: contain;
}

.container__slider .teaser__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 34px;
}

.container__slider .teaser__info .teaser__description p {
  color: var(--tertiary-black);
  font-family: var(--body-font-arena);
  text-align: left;
  font-size: .875rem;
  font-style: normal;
  font-weight: var(--fw-300);
  line-height: 1.25rem;
  margin: 8px 0 0 0;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  min-height: 2.5rem;
  overflow: hidden;
  line-clamp: 2;
  display: -webkit-box;
}

.container__slider .teaser__info .title-arrow {
  flex-basis: 75%;
}

.container__slider .teaser__info .teaser__title .card-title {
  font-family: var(--body-font-family);
  font-size: 1.5rem;
  font-weight: var(--fw-500);
  line-height: 1.875rem;
  text-align: left;
  color: var(--tertiary-black);
  margin: 0rem;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  min-height: 2.75rem;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 2;
  display: -webkit-box;
  br{
    display: none;
  }
}

.container__slider .teaser__info .teaser-arrow {
  height: 2.5rem;
  width: 2.5rem;
  transition: all 0.5s ease-in-out;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none"><path d="M9.25625 32.5001L7.5 30.7438L26.5771 11.6667H15V9.16675H30.8333V25.0001H28.3333V13.423L9.25625 32.5001Z" fill="%231D1D1D"/></svg>');
}

.container__slider .teaser__card:hover .teaser-arrow {
  background-color: var(--primary-blue-700);
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none"><path d="M9.25625 32.5001L7.5 30.7438L26.5771 11.6667H15V9.16675H30.8333V25.0001H28.3333V13.423L9.25625 32.5001Z" fill="white"/></svg>');
}

.container__slider .teaser__cards {
  display: flex;
  transition: transform 0.5s ease-in-out;
  position: relative;
}

.container__slider .teaser__card:first-child {
  padding-left: 0;
}

.container__slider .teaser__card {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 8px;
  overflow: hidden;
  position: relative;
}

.container__slider .teaser__card a {
  width: 100%;
}

.container__slider .teaser__card .teaser__image {
  width: 100%;
  height: 160px;
  max-height: 11.9375rem;
  display: block;
  overflow: hidden !important;
  line-height: 0;
}

.container__slider .teaser__card .teaser__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease;
}

.container__slider .button__content {
  position: absolute;
  inset: 0;
}

.container__slider .nav-arrow {
  display: none;
}

/* Zoom effect on hover */
.container__slider .teaser__card:hover img {
  transform: scale(1.15);
}

.container__slider .teaser__card:hover .teaser__description p::after {
  transform: scale(1.15);
}

/* Responsive adjustments */
@media (width >= 768px) {

  .container__slider .teaser__card {
    padding: 10px 0;
    flex: auto;
  }

  .container__slider .teaser__card a{
    width: 100%;
  }

  .container__slider .teaser__card .teaser__image {
    width: 100%;
    height: 178px;
  }

  .container__slider .teaser__cards {
    gap: 24px;
  }

  .container__slider .teaser__info {
    gap: 46px;
  }

  .container__slider .teaser__info .title-arrow {
    flex-basis: 78%;
  }
  
}


@media (width < 767px) {

  .container__slider .teaser__card {
    flex: 0 0 calc(31.143% - 20px);
  }
}

@media (width >=1024px) {

  .section.slider-container {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .container__slider .teaser__card {
    flex: 0 0 auto;
    overflow: hidden;
    cursor: pointer;
  }

  .container__slider .slider-title {
    font-size: 2rem;
    font-weight: var(--fw-600);
    line-height: 2.5rem;
    color: var(--secondary-black);
  }

  .container__slider .teaser-content {
    padding-top: 20px;
  }

  .container__slider .teaser__card .teaser__image {
    height: 162px;
  }

  .container__slider .teaser__actions a {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: var(--fw-500);
    line-height: 1.75rem;
  }

  .container__slider .teaser__card .teaser__actions a::after {
    margin-left: -24px;
    bottom: 5px;
    height: 24px;
    width: 24px;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none"><path d="M20.772 14.2291L12.1969 22.8042L11.1363 21.7436L19.7113 13.1685L11.6556 13.1685L11.6666 11.6673H22.2732V22.2739L20.772 22.2848L20.772 14.2291Z" fill="black"/></svg>');
  }

  .container__slider .teaser__card:hover .teaser__actions a::after {
    height: 42px;
    width: 42px;
    bottom: 8px;
    background-size: contain;
  }

  .container__slider .teaser__info{
    gap: 0px;
  }

  .container__slider .teaser__info .teaser__title .card-title {
    font-size: 1.5rem;
    line-height: 1.75rem;
    max-height: 3.5rem;
    min-height: 3.5rem;
  }

  .container__slider .teaser__info .teaser-arrow {
    height: 3.75rem;
    width: 60px;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60" fill="none"><path d="M13.8844 48.75L11.25 46.1156L39.8656 17.5H22.5V13.75H46.25V37.5H42.5V20.1344L13.8844 48.75Z" fill="black"/></svg>');
  }

  .container__slider .teaser__content{
    padding-bottom: 27px;
  }

  .container__slider .teaser__card:hover .teaser-arrow {
    background-color: var(--primary-blue-700);
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60" fill="none"><path d="M13.8844 48.75L11.25 46.1156L39.8656 17.5H22.5V13.75H46.25V37.5H42.5V20.1344L13.8844 48.75Z" fill="white"/></svg>');
  }

  .container__slider .teaser__info .teaser__description p {
    margin-top: 1rem;
    line-height: 1.125rem;
  }

  .hide {
    display: none !important;
  }

  .container__slider .nav-arrow {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
  }

  .container__slider .nav-arrow.prev {
    display: none;
  }

  .container__slider .nav-arrow.next {
    top: -1.625rem;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none"><path d="M26.1693 21H10V19H26.1693L18.5743 11.405L20 10L30 20L20 30L18.5743 28.595L26.1693 21Z" fill="black"/></svg>');
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 1.5625rem;
    right: 10px;
  }

  .container__slider .teaser__card {
    padding-bottom: 0;
  }
}

/* Show 1.5 slides on mobile */
/* @media (width <=768px) {
  .container__slider .teaser__card {
    flex: 0 0 97.5%;
    padding: 10px 8px 0 8px;
  }

  .container__slider .teaser__card:first-child {
    flex: 0 0 97.5%;
    padding-left:0;
  }
} */

@media(width >= 1366px){
  .container__slider .teaser__card .teaser__image {
    height: 191px;
  }

  .container__slider .teaser__card {
    flex: 0 0 auto;
  }

  .container__slider .teaser__info {
    gap: 28px;
  }
}

@media (width>=1920px){
  
  .container__slider .teaser__card .teaser__image {
    height: 329px;
    max-height: 329px;
  }
}
